
$apple-blossom: #ac4142;
$alto: #d0d0d0;
$bouquet: red;//#aa759f;
$chelsea-cucumber: limegreen;
$cod-grey: #151515;
$conifer: lime;	//#b5e853
$dove-grey: #f0f8ff;	//#666;
$gallery: ghostwhite;
$grey: #888;
$gulf-stream: #75b5aa;
$hippie-blue: #6a9fb5;
$potters-clay: #8f5536;
$rajah: red;
$raw-sienna: #d28445;
$silver-chalice: cadetblue;
$header: lime;

$command: aqua;